corpo{

    Margem:0;
    fundo:transparente;
    família de fontes:Arial, sem serifa;
}

.destino{

    largura:330px;
    Margem:auto;

    enchimento:20px;

    cor: #191919;
}

h1{

    Margem:0 0 25px;

    alinhamento de texto:centro;

    tamanho da fonte:36px;
}

.linha{

    exibir:flexível;

    alinhar itens:centro;

    justificar-conteúdo:centro;

    lacuna:8px;

    marca inferior:18px;
}

rótulo{

    peso da fonte:audacioso;
}

.mais{

    tamanho da fonte:28px;

    peso da fonte:audacioso;
}

.ml{

    peso da fonte:audacioso;
}

entrada{

    largura:90px;

    enchimento:8px;

    tamanho da fonte:16px;

    raio de borda:8px;

    fronteira:nenhum;

    esboço:nenhum;

    alinhamento de texto:centro;
}

botão{

    cursor:ponteiro;

    fronteira:nenhum;

    raio de borda:8px;

    fundo:#2ECC71;

    cor: #191919;

    enchimento:8px 12px;

    tamanho da fonte:16px;

    peso da fonte:audacioso;
}

botão:par{

    opacidade:.9;
}

.texto do progresso{

    marca superior:15px;

    alinhamento de texto:centropx

    tamanho da fonte:32px;

    peso da fonte:audacioso;
}

.barra de progresso{

    marca superior:15px;

    largura:100%;

    alta:18px;

    fundo:#444;

    raio de borda:10px;

    transbordar:escondido;
}

.progressoPreenchimento{

    largura:0%;

    alta:100%;

    fundo:#2ECC71;

    transição:.3s;
}

.por cento{

    margem superior:8px;

    alinhamento de texto:centro;

    peso da fonte:audacioso;
}

.redefinir{

    largura:100%;

    margem superior:25px;

    fundo:#e74c3c;
}
